Title: About
Image: images/chalk.jpg
---

<p>Hello, my name is Sudhanshu Mishra.</p>

<img alt="Sudhanshu" src="images/Sudh-New-Brand.jpg" class="img-circle" width="100" />

<p>I am a Senior Engineer at a Fintech in Sydney helping ship software using clean coding practices and following the agile mindset.</p>
<p>My Mantra is as follows</p>
<blockquote>
  What makes me happy and keeps me going is the love of helping people.
  That it is through building great software is a happy accident.

  <ul>
    <li>Between an idea and the delivered software lies <strong>Output</strong> measured by <strong>Velocity</strong> </li>
    <li>Delivered software produces an <strong>Outcome</strong> - measured in terms of <strong>behaviour</strong> (of users)</li>
    <li>The long term effect of the delivered software is its <strong>Impact</strong> </li>
  </ul>
</blockquote>
<p>
    <small>The mantra is inspired by a talk from Jeff Patton and I've blogged about it <a href="posts/notes-jeff-patton">here</a></small>
</p>
<p>Learn more about me or follow me on Social media:</p>
@Html.Partial("_SocialLinks")
