Title: About
Image: images/water.jpg
---

<p>Hello, my name is Sudhanshu Mishra.</p>
<p>I am currently a Consultant at Readify helping companies of all sizes ship software using clean coding practices and following the agile mindset.</p>
<p>My experience of over a decade has taught me that developers are the most engaged when they understand how the software they produce helps the business 
    they are part of make money. Understanding the proverbial "big picture" lets one appreciate the true value of one's work.
</p>
<p>I have profiles scattered around the web at the following sites:</p>
@Html.Partial("_SocialLinks")
