[Pp]ackages/
[Tt]ools/*
![Tt]ools/packages.config
![Tt]ools/*.mjs
[Oo]utput/
nuget.exe
*.zip
/debug.log
/packages.xml
.idea/
config.*
!docs/.vitepress/config.mjs
.vs/
node_modules/
docs/.vitepress/cache/
docs/.vitepress/dist/
